body {
    background: #FAFAFA;
    font-family: 'Helvetica', sans-serif;
    
}
.header-nav{
    margin: 0 auto;
    max-width: 1210px;
}

.instagram{
width: 130px;
height: 50px;
}
#search-input{
    text-align: center;
    padding-left: 39px;
     width: 216px;
     height: 29px;
     font-size: 14px;
    line-height: 17px;
    background: #FAFAFA;
    border: 1px solid #dee2e6;
    box-sizing: border-box;
    border-radius: 3px;

}

.form-inline{
    position: relative;
}
.search-icon{
    width: 9px;
    height: 9px;
    position: absolute;
    margin-left: 78px;

}

.message{
    position: absolute;
    font-size: 12px;
line-height: 14px;
color: #FFFFFF;
background: #DC565B;
border-radius: 50%;
padding: 1px 5px;
right: 17%;
    top: 23%;
}
.message-link{
    position: relative;
}

.main-photo{
    width: 154px;
height: 153px;
margin-top: 29px;
}

.about-user{
    margin-top: 29px;
}

.follow{
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
padding: 0px 26px;
margin-right: 9px;
align-items: center;
width: 97px;
height: 29px;

}

.btn-dowm{
    width: 33px;
height: 29px;
align-items: center;

}

.btns{
    display: flex;
    flex-direction: row;
    
}

.user-name{
    margin-right: 26px;
    font-family: "Helvetica Neue";
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
color: #262626;
}
.inf a{
    font-family: "Helvetica Neue";
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 21px;
color: #262626;
margin-right: 39px;
margin-top: 24px;

}

.about{
    margin-left: -13px;
}

.name{
    margin-top: 21px;
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #262626;
}

.three-stories{
    margin-left: 3px;
}
.stories-item{
    margin-top: 56px;
    margin-right: 42px;
}

.st-name{
    margin-top: 15px;
    margin-left: 20px;
    
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
color: #262626;
}

.nav-box{
    border-top: 1px solid #DBDBDB; 
    margin-top: 55px;
}
.nav-txt{
    font-family: "Helvetica Neue";
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
color: #262626;
}
.nav-txt.tagget{
    color: #8F8F8F;
}

.posts-link{
    border-top: 1px solid #262626;;
}

.user-photos{
    text-align: center;
}

.photo-content{
    margin-top: 25px;
}
@media(max-width: 430px){
    .stories-item{
        margin-right: 12px;

    }
    .about-user{
        margin-left: 20px;
    }
    .inf a{
       margin-right: 15px;
   }
   .btns {
    display: flex;
    flex-direction: column;
}
.navbar-brand{
    margin: 0 auto;
}
.form-inline{
    margin: 0 auto;
}
.nav-icon{
    margin: 0 auto;
}

}

@media(max-width: 760px){
    .about-user{
        margin-left: 20px;
        text-align: center;
        justify-content: center;
    }

    .inf{
        justify-content: center;
    }

    .btns{
        justify-content: center;
    }
    .stories{
        justify-content: center;
        margin-left: -14px;
    }

    .main-photo{
        margin: 0 auto;
        margin-top: 29px;
    }
    .header-nav{
        flex-direction: column;
    }
    .nav-icon{
        margin-top: 15px;
    }
}


